/* Mobile */
@media (max-width: 739px) {
    .btn--outline-white {
        color: var(--white-color);
        background-color: #1a1a1a;
        border: .5px solid var(--white-color);
    }

    .header {
        height: 52px;
        margin-bottom:-1px
    }
    .header__navbar {
        padding: 16px;
    }

    .header__navbar-list {
        display: flex;
        flex-direction: column;
        display: none;
    }

    .header__navbar-mobile-icon {
        display: block;
    }

    .home-section {
        height: 622px;
        padding: 12px;
    }

    .home-wrap {
        position: relative;
        justify-content: center;
    }

    .home__title {
        position: absolute;
        top: 354px;
        text-align: center;
        width: 100%;
        z-index: 1;
    }

    .home__title h3 {
        font-size: 2rem;
        text-shadow: 1px 1px 1px #000;
    }

    .home__title h1 {
        font-size: 4.2rem;
        line-height: 5.4rem;
        text-shadow: 1px 1px 1px #000;
    }

    .home__img{
        position: absolute;
        top: 40px;
        text-align: center;
    }

    .home__img img{
        width: 86%;
    }

    /* ===================About=================== */

    .about-section {
        margin-top:-1px;
        padding: 50 16px;
    }
    
    .about__img img {
        display: none;
    }

    .about__info-heading h1 {
        margin-left: 0;
    }

    .about__info-heading h2 {
        left: 0;
        right: 0;
    }

    .about__info-heading p {
        line-height: 2.6rem;
        margin: 80px 16px 40px;
    }

    .about__info-list {
        text-align: left;
    }

    .about__info {
        text-align: center;
    }

    /* ===================Skill=================== */
    .skill-section {
        margin-top:-1px;
        padding: 60px 16px;
    }
/* ===================Project=================== */
    .project__card {
        margin: 26px 16px 0;
        min-height: unset;
    }

    .project__heading h2 {
        top: -40px;
        font-size: 8rem;
    }
    .project__heading p {
        margin-left: 16px;
        margin-right: 16px;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .header {
        margin-bottom:-1px
    }

    .header__navbar-item-link {
        padding: 10px 10px;
    }

    .home-section {
        height: 534px;
    }

    .home__title h1 {
        font-size: 6.5rem;
        line-height: 9rem;
    }

    .home__img {
        width: 42%;
    }

    .home__img img {
        height: 65%;
    }

    .about-section {
        margin-top:-1px;
    }

    .about__img {
        display: none;
    }

    .about__info-heading h1 {
        margin-left: 0;
    }

    .about__info-heading h2 {
        left: 0;
        right: 0;
    }

    .about__info {
        text-align: center;
    }

    .about__info-list {
        text-align: left;
    }

    .skill-section {
        margin-top:-1px;
    }

}